<% content_for :page_title do 'Ruby on Rails and NodeJS Development and Outsourcing Services' end %>
<% content_for :page_meta do %>
  <meta content="We're a team of software craftsmen who love to build awesome products.
    Meet some of our awesome software engineer." name="description" />
<% end %>

<div class="hero">
  <div class="container vertical-center">
    <div class="row spacing-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

        <h1 class="white">
          Meet Our Team
        </h1>
        <p class="white">
          We're a team of software craftsmen who love to build awesome products.
          Meet some of our awesome software engineer.
          </p>



      </div>
    </div>

  </div>
</div>


<div class="section-light-gray">
<div class="container">


      <div class="row spacing-top">
        <div class="col-md-12 ">
          <h1 class="text-center title">
            Founder
          </h1>
        </div>
        <div class="col-md-12 spacing-bottom">
          <div class="line-orange"></div>
        </div>


<div class="col-md-6 col-xs-12">
<div class="founder"></div>
</div>

<div class="col-md-6 col-xs-12">
<p class="subtitle vertical-center founder-subtitle">Armin graduated from University of California, Berkeley and has worked with Sillicon Valley startups before deciding to start a web development company. He enjoys traveling, hacking on open source projects, and reading.
</p>

</div>



</div>
</div>
</div>


<section class="grid-list-wrapper section-light-gray">

<!-- <div class="container"> -->


  <div class="padding-double-spacing">
    <div class="col-md-12 ">
      <h1 class="text-center title">
        Developer
      </h1>
    </div>
    <div class="col-md-12 spacing-bottom">
      <div class="line-orange"></div>
    </div>

  <div class="rwns-list grid-list">
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('2.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Segi</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('3.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Tio</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('4.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Deni</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('5.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Alwi</div>
              <div class="description">Web Designer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('6.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Ganjar</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('7a.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Yosua</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('8.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Bachtiar</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('9a.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Imam</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('10.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Hendra</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('11.jpg') %>')"></div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Astuta</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>
      <div class="item" style="display: inline-block;">
          <div class="image" style="background-image: url('<%= asset_path('12f.jpg') %>')"</div>
          <div class="mask"></div>
          <div class="details">
              <div class="name">Wahyu</div>
              <div class="description">Rails Developer</div>
          </div>
      </div>

  <!-- </div> -->
</div>
</section>
