<% content_for :page_title do 'Completed Ruby on Rails and NodeJS Software Projects | Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Dexcode has completed various software systems including e- commerce, ERP, payment integration, social media integration, real time video streaming, and others" name="description"/>
<% end %>

<div class="hero">
  <div class="container vertical-center">
    <div class="row spacing-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
        <h1 class="white">
          Case Studies
        </h1>
        <p class="white">
          Dexcode has completed various software systems including e-commerce,
          ERP, payment integration, social media integration, real time video streaming, and others.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-light-gray">
  <div class="container">
    <div class="row double-spacing">

      <div class="col-md-12 spacing-top">

        <div class="viewport">
          <a href="/lens-culture-modern-photography-platform">
            <span class="dark-background">LensCulture</span>
            <img alt="Thumb client   lens culture" src="<%= asset_path('case-studies/lens-culture.png') %>"/>
          </a>
        </div>
        <div class="viewport">
          <a href="/stringwire-citizen-journalism-platform">
            <span class="dark-background">Stringwire</span>
            <img alt="Thumb client   nbcuniversal2" src="<%= asset_path('thumb_Client_-_NBCUniversal2.png') %>"/>
          </a>
        </div>
        <div class="viewport">
          <a href="/savsale-dress-sales-search-engine">
            <span class="dark-background">SavSale</span>
            <img alt="Thumb client   savsale" src="<%= asset_path('thumb_Client_-_SavSale.png') %>"/>
          </a>
        </div>
        <div class="viewport">
          <a href="/hilario-video-comedy-sharing-platform">
            <span class="dark-background">Hilario</span>
            <img alt="Thumb client   hilario" src="<%= asset_path('thumb_Client_-_Hilario.png') %>"/>
          </a>
        </div>

        <div class="viewport">
          <a href="/flixus-movie-plot-platform">
            <span class="dark-background">Flixus</span>
            <img alt="Thumb client   flixus" src="<%= asset_path('thumb_Client_-_Flixus.png') %>"/>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
