<% content_for :page_title do 'Lens Culture - Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description"/>
<% end %>

<div class="section-light-gray">
  <div class="container spacing-bottom">
    <div class="row spacing-top-extra spacing-bottom">

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Overview
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>
    </div>
    <div class="spacing-bottom">

      <div class="hero-lens-culture"></div>
      <h4 class="text-center">Lens culture is a web built for photographer.</h4>

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Features
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <%= image_tag 'cms-icon.png', :alt => "CMS", :width => 300, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-left text-center">

          <h1>Content Management System</h1>
          <p class="subtitle">
            Our team built the content management system for the articles in LensCulture which includes auto-save editor and the ability to attach and order images to the article.</p>
        </div>

      </div>

      <div class="col-md-6 col-xs-12 pull-right">
        <div class="text-center">
          <%= image_tag 'competition-icon.png', :alt => "Competition Platform", :width => 300, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-left">
        <div class="box-right text-center">
          <h1>Competition Platform</h1>
          <p class='subtitle'>
            We designed and implemented the competition platform that can process hundreds / thousands of submissions and allow multiple judges to rate submissions collaboratively.

          </p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <%= image_tag 'advice-icon.png', :alt => "Real-Time Session", :width => 300, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-left text-center">

          <h1>Real-time Session with Photography Experts</h1>
          <p class="subtitle">
            Photographer expert can host an interactive presentation session with real time video sharing, voice chat, and text chats.
          </div>

        </div>

        <div class="col-md-6 col-xs-12 pull-right">
          <div class="text-center">
            <%= image_tag 'dragdrop2.gif', :alt => "Drag And Drop", :width => 500, :class => "img-responsive center-image-drag" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12 pull-left">
          <div class="box-right-drag text-center">
            <h1>Image Curation with Drag and Drop Interface</h1>
            <p class='subtitle'>
              We implemented intuitive drag and drop interface for the image curation feature. User of the site can create a collection of images and move the images around to different collection.

            </p>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="text-center">
            <%= image_tag 'scalability-icon.png', :alt => "Scalability", :width => 300, :class => "img-responsive center-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="box-left text-center">

            <h1>Scalability</h1>
            <p class="subtitle">
              Starting from a single server supporting the initial traffics, we scale LensCulture to multiple servers capable of handling hundreds of thousands of requests per month. Additionally, we implemented auto scaling using AWS Auto Scaling to increase the
              reliability of the servers when burst traffic occurs.
            </div>

          </div>

          <div class="col-md-6 col-xs-12 pull-right">
            <div class="text-center">
              <%= image_tag 'performance-icon.png', :alt => "Performance", :width => 300, :class => "img-responsive center-image" %>

            </div>
          </div>

          <div class="col-md-6 col-xs-12 pull-left">
            <div class="box-right text-center">
              <h1>Performance</h1>
              <p class='subtitle'>
                Increasing the performance of the site is another challenge we have solved. We applied heavy russian-doll caching where possible to reduce web server latencies from seconds to milliseconds. Also, we implemented state-of-the-art algorithm that reduce
                image upload time from minutes to a few seconds.

              </p>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="text-center">
              <%= image_tag 'technologies-icon.png', :alt => "Technologies", :width => 300, :class => "img-responsive center-image" %>

            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="box-left text-center">

              <h1>Technologies</h1>
              <p class="subtitle">
                Ruby on Rails, BackboneJS, memcached, nginx, EC2, S3, MySQL, websocket.
              </div>

            </div>

          </div>
        </div>
      </div>
