
 <nav class="navbar<%= ' navbar-scroll navbar-transparent' if request.url == root_url %> navbar-default navbar-fixed-top">
   <div class="container">
     <div class="navbar-header option-brand">
       <a href="<%= root_path %>" class="navbar-brand">
         <%= image_tag 'logo2.png', :alt => "Dexcode logo", :width => 160 %>
       </a>
       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
       <ul class="nav navbar-nav navbar-right">
         <li>
           <a href="<%= services_path %>">
             <div class="option">
               SERVICES
             </div>
           </a>
         </li>
         <li>
           <a href="<%= case_studies_path %>">
             <div  class="option">
               CASE STUDIES
             </div>
           </a>
         </li>
         <li>
           <a href="<%= contact_us_path %>">
             <div class= "btn btn-nav">
               CONTACT US
             </div>
           </a>
         </li>
       </ul>
     </div>
   </div>
 </nav>
