<% content_for :page_title do 'React Native Development Service | Dexcode' end %>
<% content_for :page_meta do %>
  <meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description" />
<% end %>

<div class="hero">
  <div class="container vertical-center">
    <div class="row spacing-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

        <h1 class="white">
          React Native Development
        </h1>
        <p class="white">
          React Native lets you build mobile apps using only JavaScript. It uses the same design as React, letting you compose a rich mobile UI from declarative components.
        </p>
        <a href="/contact_us" class="btn btn-primary">
          Start Your Free Trial Now
        </a>
      </div>
    </div>

  </div>
</div>

<div class="section-light-gray">
  <div class="container">
    <div class="row double-spacing">
      <div class="col-md-12 ">
        <h2 class="text-center title">
          Why Use React Native?
        </h2>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
            <%= image_tag 'community.png', :alt => "community driven", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-frontend text-center">
          <h3>Community-Driven</h3>
          <p class="subtitle">
            The development of the React Native framework actually started as a hackathon effort in 2013, responding to the need of the developer community: it was looking for a mobile alternative that would combine the advantages of mobile app development with the power and agility of the native React environment. This resulted in React Native, a framework created by Facebook, and supported and continuously pushed forward by the development community.
  There are considerable advantages to using such a community-driven environment like the availability of a huge team of enthusiastic JS and native developers willing to share their knowledge and expertise and huge catalogs of freely available components.
          </p>
        </div>

      </div>


      <div class="col-md-6 col-xs-12 pull-right">
        <div class="text-center">
          <%= image_tag 'costsave.png', :alt => "cost saving", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-left">
        <div class="box-backend text-center">
          <h3>Maximum Code Reuse & Cost Saving</h3>
          <p class='subtitle'>
            By using React Native, you can use the same code for deployment on iOS as well as on Android. This means a huge saving in development time and cost. Theoretically, the development effort could be cut by half. In practice, the cost saving will be a little lower but still more than interesting enough to make the investment worth your while.
          </p>
        </div>
      </div>


      <div class="col-md-6 col-xs-12 pull-left">
        <div class="text-center">
          <%= image_tag 'reload.png', :alt => "live reload", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-right">
        <div class="box-integration text-center">
          <h3>Live Reload</h3>
          <p class='subtitle'>
            The ‘live reload’ feature, enabling you to immediately see the result of the latest change that you have made to the code. If you have two windows opened – one containing the code and the other showing a mobile screen as a result of the code – you can immediately see the effect of what you have changed in one screen, on the other screen.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-right">
        <div class="text-center">
          <%= image_tag 'mobileperformance.png', :alt => "mobile performance", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-left">
        <div class="box-backend text-center">
          <h3>Strong Performance for Mobile Environments</h3>
          <p class='subtitle'>

            The React Native architecture is very well tuned to mobile devices. It makes use of the GPU (Graphics Processing Unit), while native platforms are more ‘CPU (Central Processing Unit) intensive’. Compared to hybrid technologies – which was the only option for cross-platform in the past.
          </p>
        </div>
      </div>


      <div class="col-md-6 col-xs-12 pull-left">
        <div class="text-center">
          <%= image_tag 'modular.png', :alt => "modular architecture", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-right">
        <div class="box-integration text-center">
          <h3>Modular and Intuitive Architecture Similar to React</h3>
          <p class='subtitle'>
              The modular and intuitive interface makes it very easy for other developers to delve into someone else’s project and build upon it. This increases the flexibility within a development team, and makes it easier to create updates and upgrades to web applications.

            </p>
        </div>
      </div>


    </div>
  </div>
</div>

<%= render 'home/free_trial', section_class: 'section-gray' %>