 <% content_for :page_title do 'Ruby on Rails Development Service' end %>
<% content_for :page_meta do %>
  <meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description" />
<% end %>

<div class="hero">
  <div class="container vertical-center">
    <div class="row spacing-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

        <h1 class="white">
          Ruby on Rails Development
        </h1>
        <p class="white">
          Over the last 5 years, we have developed web application for
          successful and high traffic clients in the United States, Europes,
          and Asia. Our clients include: LensCulture, Stringwire (NBC
          Universal), Arc9, Go! Athletics, Everest, FacilGo, Flixus, Hilario,
          and SavSale.
        </p>
        <a href="/contact_us" class="btn btn-primary">
          Start Your Free Trial Now
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section-light-gray">
  <div class="container">
    <div class="row double-spacing">
      <div class="col-md-12 ">
        <h2 class="text-center title">
          Why Use Ruby on Rails?
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
            <%= image_tag 'faster.png', :alt => "faster development", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-frontend text-center">

          <h3>Faster Development Time Lapse</h3>
          <p class="subtitle">
            RoR minimizes time on website development in about 30-40% due to lean code base (less lines), modular design (components within the framework can be used again, so there is no need to create new ones every time) and a wide range of ready-to-use plugin solutions for feature development.
          </p>
        </div>

      </div>


      <div class="col-md-6 col-xs-12 pull-right">
        <div class="text-center">
          <%= image_tag 'codemaintenance.png', :alt => "code maintenance", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-left">
        <div class="box-backend text-center">
          <h3>Easy Code Maintenance and Update</h3>
          <p class='subtitle'>
            Ruby on Rails makes it easy to modify the existing code or add new features to the site. This framework is most effective for long-term projects due to its stability and predictability, so substitution of a team member will never be a problem.
          </p>
        </div>
      </div>


      <div class="col-md-6 col-xs-12 pull-left">
        <div class="text-center">
          <%= image_tag 'costeffective.png', :alt => "cost effective", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-right">
        <div class="box-integration text-center">
          <h3>Cost-Effectiveness</h3>
          <p class='subtitle'>
            Since the whole development process and code updates are performed faster, business owners tend to spend less money on the development of their website and its upgrade and always receive an expected level of quality.
          </p>
        </div>
      </div>


      <div class="col-md-6 col-xs-12 pull-right">
        <div class="text-center">
          <%= image_tag 'businessindustries.png', :alt => "business industries", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-left">
        <div class="box-backend text-center">
          <h3>Suitable for All Business Industries</h3>
          <p class='subtitle'>
            As a programming language, RoR is flexible, so it can be easily attuned to any field of business, whether it is project management or a site building platform.

  RoR works best for long-lasting and dynamic website projects. Some examples can be reached on our portal, just take a look ruby on rails web development team
</p>
        </div>
      </div>


    </div>
  </div>
</div>

<%= render 'home/free_trial', section_class: 'section-gray' %>