<%= div_for article do %>
	<div class="large-12 cloumns border border-box glassy-bg mt pt">
		<strong><%= h(article.title) %></strong><br />
		<sup class="text-muted">From <%= time_ago_in_words(article.created_at) %></sup><br />
		<div class="mb pb">
			<%= h(article.content) %>
		</div>
		<div class="tags">
		<%=raw tag_links(article.all_tags) %>
		</div>
	</div>
<% end %>
